* {
    margin: auto;
}

body {
    background: #f8f8f8;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

div {
    display: flex;
    justify-content: space-between;
}

.desktop {
    margin: 0;
    width: 100%;
    font-family: 'Chango', cursive;
}
.scoreboard{
    margin: 0;
    width: 100%;
}
.white-scr{
    background: white;
}

.scr_w {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;
}
.scr_r {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
}
.scr_b {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
}
.scr_b1 {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
}
.red-scr{
    background: white;
}

.checking {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: gold;
    border: 1px solid gold;
    border-radius: 50px;
}

.empty {
    background-color: red;
}

td {
    text-align: center;
    background-color: black;
    width: 75px;
    height: 75px;
}

.whitetext {
    text-align: center;
    color: lightgray;
    font-size: 55px;
}

.redtext {
    text-align: center;
    font-size: 55px;
    color: red;

}

.red {
    width: 30px;
    height: 30px;
    padding: 12px;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;
}

.white {
    width: 30px;
    height: 30px;
    padding: 12px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
}

.king.white {
    background-color: orange;
}

.king.red {
    background-color: purple;
}

p {
    display: inline-block;
}


span {
    display: inline-block;
}

.board {
    background: #f8f8f8;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.button {
  background: red;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  text-decoration: underline;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

#hud{
display:inline-block
}
.hud-item {
    background-color: #f8f8f8;
}

.hud-prefix {
    background: #FFFFFF;
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    background-color: #FFFFFF;
    text-align: center;
}
